::before {
    margin-right: 0.5em;
    font-weight: lighter;
}

#heisig::before         { content: "RTK-avainsana:"; }
#kanjidic::before       { content: "Englanniksi:"; }
#stroke-count::before   { content: "Piirrot:"; }
#radical::before        { content: "Tunniste:"; }
#grade::before          { content: "Luokitus:"; }
#variants::before       { content: "Variantit:"}
#freq::before           { content: "Yleisyys:"; }
#jlpt::before           { content: "JLPT:"; }
#krad::before           { content: "KRAD:"; }
#cjk::before            { content: "CJK:"; }
#onyomi::before         { content: "Onyomi:"; }
#kunyomi::before        { content: "Kunyomi:"; }
#nanori::before         { content: "Nanori:"; }
#pinyin::before         { content: "Pinyin:"; }

.variant, .decomposition > a { text-decoration: none; }
.filter-invert { filter: invert(1); }

#links div:not(:last-child)::after { content: "・"; }