{% set heisig = character.heisig_keyword %}
{% set kanjidic = meanings|map(attribute="meaning")|list %}

{% set neighbors = neighbors|map(attribute="literal") %}
{% set decompositions = decompositions|map(attribute="decomposition")|list %}
{% set onyomi = readings|selectattr("r_type", "==", "ja_on")|map(attribute="reading")|list %}
{% set kunyomi = readings|selectattr("r_type", "==", "ja_kun")|map(attribute="reading")|list %}
{% set nanori = readings|selectattr("r_type", "==", "nanori")|map(attribute="reading")|list %}
{% set pinyin = readings|selectattr("r_type", "==", "pinyin")|map(attribute="reading")|list %}

<div class="row m-1">
  <div id="stroke-count" class="col-auto">{{ character.stroke_count }}</div>
  <div id="radical" class="col-auto">{{ character.radical }}</div>
  <div id="grade" class="col-auto">
    {%- set grade = character.grade -%}
    {%- if not grade -%}
    Harvinainen
    {%- elif grade == 1 -%}
    1. kouluvuosi
    {%- elif grade == 2 -%}
    2. kouluvuosi
    {%- elif grade == 3 -%}
    3. kouluvuosi
    {%- elif grade == 4 -%}
    4. kouluvuosi
    {%- elif grade == 5 -%}
    5. kouluvuosi
    {%- elif grade == 6 -%}
    6. kouluvuosi
    {%- elif grade == 8 -%}
    Yleinen
    {%- elif grade == 9 -%}
    Nimiin varattu
    {%- elif grade == 10 -%}
    Nimiin varattu (variantti)
    {%- endif -%}
  </div>
</div>

{%- if heisig %}
<div class="row m-1">
  <div id="heisig" class="col-auto fst-italic">{{ heisig }}</div>
</div>
{%- endif %}
{%- if kanjidic %}
<div class="row m-1">
  <div id="kanjidic" class="col-auto fst-italic">{{ kanjidic|join(", ") }}</div>
</div>
{%- endif %}

{%- if character.parts and request.cookies.get("krad") != "false" %}
<div class="row m-1">
  <div id="krad" class="col-auto"><span>{{ character.parts }}</span></div>
</div>
{%- endif %}

{%- if decompositions and request.cookies.get("cjk") != "false" %}
<div class="row m-1">
  <div id="cjk" class="col-auto">
    {%- for decomposition in decompositions -%}
    <span class="decomposition col-auto me-3">
      {%- for c in decomposition -%}
      {%- if 0x4e00 <= c|ord <= 0x9fff -%}
      <a href="{{ url_for('characters.character', literal=c) }}">{{ c }}</a>
      {%- else -%}
      {{ c }}
      {%- endif -%}
      {%- endfor -%}
    </span>
    {%- endfor %}
  </div>
</div>
{%- endif %}

{%- if variants and request.cookies.get("variants") != "false" %}
<div class="row m-1">
  <div id="variants" class="col-auto">
    {%- for variant in variants -%}
    <a class="variant" href="{{ url_for('characters.character', literal=variant.literal) }}">{{ variant.literal }}</a>
    {%- endfor -%}
  </div>
</div>
{%- endif %}

{%- if onyomi %}
<div class="row m-1">
  <div id="onyomi" class="col-auto">{{ onyomi|join("・") }}</div>
</div>
{%- endif %}

{%- if kunyomi %}
<div class="row m-1">
  <div id="kunyomi" class="col-auto">{{ kunyomi|join("・") }}</div>
</div>
{%- endif %}

{%- if nanori and request.cookies.get("nanori", "false") != "false" %}
<div class="row m-1">
  <div id="nanori" class="col-auto">{{ nanori|join("・") }}</div>
</div>
{%- endif %}

{%- if pinyin and request.cookies.get("pinyin", "false") != "false" %}
<div class="row m-1">
  <div id="pinyin" class="col-auto">{{ pinyin|join("・") }}</div>
</div>
{%- endif %}