<div id="links" class="row m-3">
  <div class="col-auto p-0"><a href="https://kanji.koohii.com/study/kanji/{{ character.literal }}" target="_blank">Kanji Koohii</a></div>
  <div class="col-auto p-0"><a href="https://www.kanjipedia.jp/search?k={{ character.literal }}&kt=1&sk=leftHand" target="_blank">Kanjipedia</a></div>
  <div class="col-auto p-0"><a href="https://jisho.org/search/{{ character.literal }}%23kanji" target="_blank">Jisho</a></div>
  <div class="col-auto p-0"><a href="https://en.wiktionary.org/wiki/{{ character.literal }}" target="_blank">Wiktionary</a></div>
</div>

