{% extends "base.html" %}

{% block title %}Sivustosta{% endblock %}

{% block content %}
  <h1>Sivustosta</h1>
  <h2>Lähteet</h2>
  <dl>
    <dt>
      <a href="http://www.edrdg.org/wiki/index.php/KANJIDIC_Project" class="fw-bold">KANJIDIC2</a>
    </dt>
    <dd class="ms-3">© Jim Breen/EDRDG</dd>
    <dt>
      <a href="http://www.edrdg.org/krad/kradinf.html" class="fw-bold">KRADFILE</a>
    </dt>
    <dd class="ms-3">© Jim Breen/EDRDG</dd>
    <dt>
      <a href="http://www.edrdg.org/krad/kradinf.html" class="fw-bold">KRADFILE2</a>
    </dt>
    <dd class="ms-3">© James Rose</dd>
    <dt>
      <a href="https://kanji-database.sourceforge.net/">Kanji Database Project</a>
    </dt>
    <dd class="ms-3">© Kanji Database Project</dd>
  </dl>
{% endblock %}