{%- macro render_pagination(pagination, endpoint) -%}
  <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
    {%- if page %}
    {%- if page != pagination.page %}
    {%- set args = request.args.copy() %}
    {%- set _ = args.pop("page", default=0) %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=page, **args) }}">{{ page }}</a>
    </li>
    {%- else %}
    <li class="page-item">
      <p class="page-link fw-bold text-muted">{{ page }}</p>
    </li>
    {%- endif %}
    {%- else %}
    <span class="ellipsis">…</span>
    {%- endif %}
    {%- endfor %}
  </ul>
{%- endmacro %}